
body {
    margin: 0;
    font-family: Nunito,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c757d;
    text-align: left;
    background-color: #fafbfe;
    background-image: url("../images/icon/startup-2019.png");
    -moz-background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.color-white{
    color: #fff !important;
}
.bg-left,.login-hideer{display: none;}
.bg-right ,#show-login{display: block;}
.registrationbtn{
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.loginbtn{
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.bg-lite{
    background: aliceblue;
    position: relative;
    z-index: 9;
    top: -68px;

    border-radius: 3px;
    height: 380px;
    padding: 20px;
}
a{
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.bg-lite-r{
    background: aliceblue;
    position: relative;
    z-index: 9;
    top: -68px;
    right: -5px;
    border-radius: 3px;
    height: 380px;
    padding: 20px;
    background: none;
}
.account-pages{
    padding: 4rem 0;
}
.card{
    border: none;
    -webkit-box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    box-shadow: 0 0 35px 0 rgba(154,161,171,.15);
    margin-bottom: 30px;
    height: 380px;
}
#logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    padding: 15px;
}
.btn-primary {
    color: #fff;
    background-color: #727cf5;
    border-color: #727cf5;
    -webkit-box-shadow: 0 2px 6px 0 rgba(114,124,245,.5);
    box-shadow: 0 2px 6px 0 rgba(114,124,245,.5);
}
.btn-primary:hover {
    color: #fff;
    background-color: #4e5bf2;
    border-color: #4250f2;
}
form .form-group label{color: #101010;}
form .form-group .form-control{
    display: block;
    width: 100%;
    padding: .45rem .9rem;
    font-size: .875rem;
    line-height: 1.5;
    color: #6c757d;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid #dee2e6;
    border-radius: .1rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
#password-registration,#current-password{
    padding: .45rem 2rem .45rem .9rem !important;
}
.show-mobile{
    text-align: center;
}
.invalid-feedback,.invalid-feedback-l,.invalid-feedback-l-p{
    width: 42%;
    text-align: right;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
    position: relative;
    right: -155px;
    top: -30px;
    z-index: 999;
}
.toggle-password{
    position: absolute;
    cursor: pointer;
    right: 25px;
    bottom: 10px;
    z-index: 10;
}
#preloader{background: rgba(0, 0, 0, 0.63) !important; bottom:0; height:100%; left:0; overflow:hidden !important;  position:fixed; right:0; top:0; width:100%; z-index:99999; text-align:center;}
.clear-loading { text-align: center;  position: absolute; top: 50%; left: 50%; margin-left: -152px; -webkit-box-sizing: border-box;-moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; display:inline-block;  text-align:center; transform: translateY(-50%); -webkit-transform: translateY(-50%); -o-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%);}

/*Loading Effect */
.loading-effect{width:350px; height:350px;}
.loading-effect span{float:left; margin-top:28px;}
.loading-effect img {width: 300px;}
.slow{
    display: block;
}
.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    animation: lds-dual-ring 2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media (min-width: 1200px){
    .bg-lite{
        display: block !important;
    }
    .bg-lite-r{
        display: block !important;
    }
    .bg-right{
        opacity: 1 !important;
    }
}
@media (min-width: 992px){
    .bg-lite{
        display: block !important;
    }
    .bg-lite-r{
        display: block !important;
    }
    .bg-right{
        opacity: 1 !important;
    }
}
@media (min-width: 768px){
    .bg-lite{
        display: block !important;
    }
    .bg-lite-r{
        display: block !important;
    }
    .bg-right{
        opacity: 1 !important;
    }
    #show-login{
        position: initial !important;
    }
}
@media (min-width: 320px) and (max-width: 374px){
    .bg-right{
        display: none;
        opacity: 0;
    }
    .bg-left{
        display: none;
        /*opacity: 0;*/
    }
    .bg-lite-r{
        height: 0;
    }
    #show-login {
        top: -390px;
        position: absolute;
        left: 0;
        right: 0;
        padding: 0px 25px 0px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
}
@media (min-width: 374px) and (max-width: 424px){
    .bg-right{
        display: none;
        opacity: 0;
    }
    .bg-left{
        display: none;
        /*opacity: 0;*/
    }
    .bg-lite-r{
        height: 0;
    }
    #show-login {
        top: -390px;
        position: absolute;
        left: 0;
        right: 0;
        padding: 0px 25px 0px;
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
}
